@tailwind base;
@tailwind components;
@tailwind utilities;

html.light {
    --color-primary: #ef4444;
    --color-secondary: #111827;
    --color-default: #71717a;
    --color-inactive: #9ca3af;
    --color-background: #e4e4e7;
    --color-light-hover: #d4d4d8;
    --color-very-light-hover: #d4d4d8;
    --color-light-border: #e5e7eb;
}

html.dark {
    --color-primary: #34d399;
    --color-secondary: #78716c;
    --color-default: #8b9bb1;
    --color-inactive: #4b5563;
    --color-background: #000;
    --color-light-hover: #1e293b;
    --color-very-light-hover: #111827;
    --color-light-border: #374151;
}
